{:description "AWS Lambda function using com.thoughtsforge/aws-lambda-runtime"
 :transform   [["src"  "src/{{top/file}}/{{main/file}}"]
               ["test" "test/{{top/file}}/{{main/file}}"]
               ["root" ""]]
 :files       {"build.sh"             {:executable true}
               "scripts/new-lambda.sh" {:executable true}}}